.navbar{
    display: flex;
    justify-content: flex-end;
    background-image: linear-gradient($colorPrimario, $colorSecundario);
    margin-bottom: 1%;
    .logo{
    max-width: 100px;
    }
    a{
        text-decoration: none;
        h1{
            display: inline;
            font-family: 'Great Vibes', cursive;
            font-family: 'Parisienne', cursive;
            font-size: 80px;
            font-weight: lighter;
            color: $colorBlanco;
        }
    }
    .pDeNavBar{
    padding-top: 10px;
    color: $colorPrimario;
    font-size: larger;
    font-weight: bold;
    text-align: center;
    }
    $botones: (
    inicio: #ff9999,
    ofertas: #99ff99,
    trabajos: #9999ff,
    marcas: #ff0000,
    contacto: #00ff00
);

@each $colorBoton, $color in $botones{
    .btn-#{$colorBoton}{
        background-color: $color;
        margin: 10px;
        padding: 0px 30px;
        border-radius: 10px;
        align-items: center;
        &:hover{
            @extend.boton;
            background-color: $colorHover;
            transition: scale, 0.6s;
            transform: scale(1.2,1.2);
        }
    }
}
    //Proyecto Original Sin SASS2, cambios en header y htmls.
    //chequear clase .boton y btn-...
    // .boton{
    // margin: 10px;
    // padding: 0px 30px;
    // border-radius: 10px;
    // background-color: $colorBlanco;
    // align-items: center;
    // &:hover{
    //     @extend.boton;
    //     background-color: $colorHover;
    //     transition: scale, 0.6s;
    //     transform: scale(1.2,1.2);
    // }
    // }
}