.logo, h1, .boton, p, .redes{
    animation-duration: 1s;
    animation-name: aparecer;
}
@keyframes aparecer{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.logo{
    display: inline;
    max-width: 100px;
}
h1{
    display: inline;
    font-family: 'Great Vibes', cursive;
    font-family: 'Parisienne', cursive;
    font-size: 80px;
    font-weight: lighter;
    color: #FFFFFF;
}
.navbar{
    display: flex;
    justify-content: flex-end;
    background-image: linear-gradient(#292660, grey);
    margin-bottom: 1%;
}
.boton{
    margin: 10px;
    padding: 0px 30px;
    border-radius: 10px;
    background-color: #FFFFFF;
    align-items: center;
}
.boton:hover{
    background-color: rgb(192, 192, 192);
    transition: scale, 0.6s;
    transform: scale(1.2,1.2);
}
header p{
    color: #292660;
    font-size: larger;
    font-weight: bold;
    text-align: center;
}
body{
    font-family: sans-serif;
    background-color: #B79FC7;
}
h2{
    font-weight: bold;
}
.historia{
    background-image: url(./assets/img/background_historia.png);
    background-size: cover;
    grid-row: 2;
    padding: 15%;
    color: white;
    font-size: x-large;
}
.ubicacion{
    background-image: url(./assets/img/background_ubicacion.png);
    background-size: cover;
    grid-row: 3;
    text-align: end;
    padding: 15%;
    margin-top: 1%;
    color: #FFFFFF;
    font-size: x-large;
}
.googlemaps{
    grid-row: 4;
    display: flex;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 1%;
}
footer{
    background-image: linear-gradient(grey, #292660);
}
footer p{
    color: #FFFFFF;
    font-size: larger;
    text-align: center;
}