@import "./scss/vars"; //scss con Variables (colores)
@import "./scss/header"; //scss del Header
@import "./scss/footer"; //scss del Footer
@import "./scss/animations"; //scss con Animaciones
@import "./scss/responsive"; //scss con Responsive para iframes y Formularios

body {
    overflow-x: hidden;
    font-family: sans-serif;
    background-color: $colorBackground;

    .historia {
        background-image: url(./assets/img/background_historia.png);
        background-size: cover;
        grid-row: 2;
        padding: 15%;
        color: $colorBlanco;
        font-size: x-large;

        h2 {
            font-weight: bold;
        }
    }

    .ubicacion {
        background-image: linear-gradient($colorSecundario 0%, $colorPrimario 25%, $colorPrimario 75%, $colorSecundario 100%);
        grid-row: 3;
        text-align: end;
        padding: 2%;
        margin-top: 1%;
        color: $colorBlanco;
        font-size: x-large;
    }

    .googlemaps {
        //streeview
        grid-row: 4;
        display: flex;
        justify-content: center;
        margin-top: 1%;
    }

    .carousel {
        margin-bottom: 1%;
    }

    .cardsDeOfertas {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
    }

    .botonCards {
        background-color: $colorPrimario;

        &:hover {
            color: $colorPrimario;
            background-color: $colorHover;
            transition: scale, 0.6s;
            transform: scale(1.3, 1.3);
        }
    }

    iframe {
        //instagram
        margin-bottom: 20px;
    }

    //Lo siguiente es para la página de Contacto
    .radio p {
        margin-left: 1%;
    }

    .formularios {
        display: grid;
        margin: 0 1%;
        padding: 10px;
        max-width: 40%;

        .formulario {
            margin: 1%;
        }
    }

    .radios {
        display: flex;
        flex-direction: row;
    }

    .botonEnviar {
        padding: 8px 10%;
        max-width: 100%;
        display: flex;
        justify-content: flex-start;
        margin-bottom: 1%;
    }

    .contentDeContacto {
        background-image: linear-gradient(to left, $colorHover, $colorBackground);
    }
}